<!-- <h1 class="dashboard-title">My Dashboard</h1> -->


<section id="dash-boardpage">
  <div id="dashboard-section">
    <div class="">
  <div id="quote">
    <div id="container">
    <h2 class="daily-quote">Get Your Daily Quote</h2>
      <div id="quoteContainer">
        <p></p>
        <p id="quoteGenius"></p>      
      </div><!--end quoteContainer-->    
      <div id="buttonContainer">
        <a href="#" id="quoteButton">Quote Me</a>
      </div><!--end buttonContainer-->
    </div><!--end container-->
  </div>
</div>


    <div id="dash_layout">
    <div id="inbox">
      <%= link_to 'INBOX' %>
    </div>

    <div id="journal">
      <%= link_to 'MY JOURNAL', entries_path %>
    </div>

    <div id="haven">
      <%= link_to 'HAVEN', posts_path %>
    </div>

    <div id="settings">
      <%= link_to 'SETTINGS' %>
    </div>

    <div id="logout">
      <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %>
    </div>

    </div>

    <div id="sos_layout" >
      <div id="sos">
        <%= link_to 'SOS' %>
      </div>
    </div>
 </div>
</section>

    <footer class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Your Website 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>